@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Audiowide&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(./assets/space\ gif.gif) 0 0;
    height: 100vh;
    width: 70vw;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Audiowide;
    overflow: hidden;
    cursor: url('./assets/cursor.png'), auto;
}

h1 {
    position: relative;
    top: 200px;
    left: 200px;
    color: white;
    font-size: 50px;
}

#play {
    position: relative;
    top: 300px;
    left: 200px;
    width: 120px;
    height: 50px;
}

@media (max-width:1024px) {
    body {
        background-size: 100% 100%;
        overflow: hidden;
    }

    h1 {
        position: relative;
        left: 60px;
        font-size: 50px;

    }

    #play {
        position: relative;
        top: 300px;
        left: 200px;
        width: 90px;
        height: 40px;
    }
}

@media (max-width:425px) {
    body {
        background-size: cover;
        height: 150vw;
        overflow: hidden;
    }

    h1 {
        font-size: 50px;
    }

    #play {
        position: relative;
        top: 300px;
        left: 200px;
        width: 90px;
        height: 40px;
    }
}

@media (max-width:375px) {
    body {
        background-size: cover;
        overflow: hidden;
        height: 200vw;
    }

    h1 {
        position: relative;
        left: 40px;
        font-size: 30px;

    }

    #play {
        position: relative;
        top: 300px;
        left: 200px;
        width: 90px;
        height: 40px;
    }
}
